package web

// CoreListItemsFromMap is <.list_items_from_map map={Map.from_struct(record)} />.
templ CoreListItemsFromMap(record any) {
	<ul>
		for _, item := range listItemsFromStruct(record) {
			<li class="py-1 border-b border-strokedark last:border-b-0 break-words md:w-2/3">
				<strong>{ item.Key }:</strong>
				<code class="inline text-sm font-mono text-bodydark break-all p-0.5 mx-0.5">
					if listItemIsHTTPURL(item.Value) {
						@TextInlineLinkString(item.Value, item.Value)
					} else {
						{ item.Value }
					}
				</code>
			</li>
		}
	</ul>
}
