package web

// ButtonButton is button/1.
templ ButtonButton(color string, rounding string, class string, typ string, disabled bool, rest templ.Attributes, content templ.Component) {
	<button
		class={
			"text-center font-medium text-white whitespace-nowrap",
			rounding + " inline-flex items-center justify-center gap-1 px-4 py-2 text-sm",
			color,
			"hover:bg-opacity-90",
			"disabled:bg-opacity-50 disabled:cursor-not-allowed disabled:text-grey-5",
			class,
		}
		type={ typ }
		disabled?={ disabled }
		{ rest... }
	>
		@content
	</button>
}

// ButtonButtonDropdown is button_dropdown/1.
templ ButtonButtonDropdown(text string, class string, options []ButtonButtonOption) {
	<div x-data="{ dropdownOpen: false }" class={ "relative flex", class }>
		<span
			x-on:click.prevent="dropdownOpen = !dropdownOpen"
			class="cursor-pointer inline-flex items-center gap-2 rounded-lg bg-primary px-4 py-2 text-sm whitespace-nowrap font-medium text-white hover:bg-opacity-95"
		>
			{ text }
			@CoreIcon("hero-chevron-down", "fill-current duration-200 ease-linear h-4 w-4", templ.Attributes{"x-bind:class": "dropdownOpen && 'rotate-180'"})
		</span>
		<div
			x-show="dropdownOpen"
			x-on:click.outside="dropdownOpen = false"
			class="absolute right-0 top-full z-40 mt-1 min-w-full w-max rounded-lg border border-strokedark bg-graydark py-1 shadow-lg"
		>
			<ul class="flex flex-col">
				for _, option := range options {
					<li>
						<span class="flex px-4 py-2 text-sm font-medium text-bodydark hover:bg-meta-4 hover:text-white cursor-pointer">
							@option.Content
						</span>
					</li>
				}
			</ul>
		</div>
	</div>
}

// ButtonIconButton is icon_button/1.
templ ButtonIconButton(iconName string, class string, tooltip string, rest templ.Attributes) {
	@TextTooltip(tooltip, "bottom", "text-nowrap", "", buttonIconButtonInner(iconName, class, rest))
}

templ buttonIconButtonInner(iconName string, class string, rest templ.Attributes) {
	<button
		class={ "flex justify-center items-center rounded-lg ", "bg-meta-4 border border-form-strokedark", "hover:bg-strokedark hover:text-white", class }
		type="button"
		{ rest... }
	>
		@CoreIcon(iconName, "h-4 w-4", nil)
	</button>
}
