package web

import "github.com/mattbriancon/pinchflat/internal/core"

templ MediaProfilesHTMLNew(changeset *core.Changeset) {
	<div class="page-header justify-start">
		if !PageOf(ctx).Onboarding {
			<a href={ templ.SafeURL(P(ctx, "/media_profiles")) }>
				@CoreIcon("hero-arrow-left", "back-link", nil)
			</a>
		}
		<h2 class="page-title">New Media Profile</h2>
	</div>
	<div class="card card-body">
		<div class="max-w-full">
			<div class="flex flex-col gap-6">
				@MediaProfilesHTMLMediaProfileForm(FormFor(changeset, "media_profile"), P(ctx, "/media_profiles"), "post")
			</div>
		</div>
	</div>
}
