package web

import (
	"github.com/mattbriancon/pinchflat/internal/core"
)

templ MediaItemsMediaItemHTMLMediaPreview(mediaItem *core.MediaItem) {
	if mediaType(mediaItem) == "video" {
		<video controls class="max-h-128 w-full">
			<source src={ templ.URL(P(ctx, "/media/%v/stream?v=%v", miStr(mediaItem.UUID), mediaItem.UpdatedAt.Time.Unix())) } type="video/mp4" />
			Your browser does not support the video element.
		</video>
	}

	if mediaType(mediaItem) == "audio" {
		<audio controls class="w-full">
			<source src={ templ.URL(P(ctx, "/media/%v/stream?v=%v", miStr(mediaItem.UUID), mediaItem.UpdatedAt.Time.Unix())) } type="audio/mpeg" />
			Your browser does not support the audio element.
		</audio>
	}
}
