package web

import "github.com/mattbriancon/pinchflat/internal/store"

templ MediaProfilesHTMLEdit(profile *store.MediaProfile, f *Form) {
	<div class="page-header justify-start">
		<a href={ templ.SafeURL(P(ctx, "/media_profiles")) }>
			@CoreIcon("hero-arrow-left", "back-link", nil)
		</a>
		<h2 class="page-title">
			Editing "{ profile.Name }"
		</h2>
	</div>
	<div class="card card-body">
		<div class="max-w-full">
			<div class="flex flex-col gap-6">
				@MediaProfilesHTMLMediaProfileForm(f, P(ctx, "/media_profiles/%v", profile.ID), "patch")
			</div>
		</div>
	</div>
}
