package web

import "github.com/mattbriancon/pinchflat/internal/store"

templ mediaProfilesShowSourceNameCell(source *store.Source) {
	@TextSubtleLink(P(ctx, "/sources/%v", source.ID), "_self", mediaProfilesShowSourceNameLabel(source))
}

templ mediaProfilesShowSourceNameLabel(source *store.Source) {
	if source.CustomName != "" {
		{ source.CustomName }
	} else {
		{ source.CollectionName }
	}
}

templ mediaProfilesShowSourceTypeCell(source *store.Source) {
	{ string(source.CollectionType) }
}

templ mediaProfilesShowSourceDownloadCell(source *store.Source) {
	if source.DownloadMedia {
		@CoreIcon("hero-check", "", nil)
	} else {
		@CoreIcon("hero-x-mark", "", nil)
	}
}

templ mediaProfilesShowSourceEditCell(source *store.Source) {
	@TextIconLink(P(ctx, "/sources/%v/edit", source.ID), "hero-pencil-square", "mr-4")
}
