package web

// Port of lib/pinchflat_web/controllers/settings/setting_html/app_info.html.heex.

templ SettingHTMLAppInfo() {
	<div class="page-header">
		<div class="flex gap-3 items-center">
			<h2 class="page-title">
				App Info
			</h2>
		</div>
	</div>
	<div class="card card-body">
		<div class="max-w-full">
			<button class="text-center font-medium text-white whitespace-nowrap rounded-lg inline-flex items-center justify-center gap-1 px-4 py-2 text-sm bg-primary hover:bg-opacity-90 disabled:bg-opacity-50 disabled:cursor-not-allowed disabled:text-grey-5" type="button" x-data="{ copied: false }" x-on:click="copyWithCallbacks(diagnostic_info_string(), () => copied = true, () => copied = false)">
				Copy Diagnostic Info
				<span x-show="copied" x-transition.duration.150ms></span>
			</button>
			<a href="/download_logs">
				<button class="text-center font-medium text-white whitespace-nowrap rounded-lg inline-flex items-center justify-center gap-1 px-4 py-2 text-sm bg-primary hover:bg-opacity-90 ml-4 disabled:bg-opacity-50 disabled:cursor-not-allowed disabled:text-grey-5" type="button">
					Download Logs
				</button>
			</a>
		</div>
	</div>
}
