package web

templ SettingHTMLAppInfo() {
	<div class="page-header">
		<div class="flex gap-3 items-center">
			<h2 class="page-title">
				App Info
			</h2>
		</div>
	</div>
	<div class="card card-body">
		<div class="max-w-full">
			@ButtonButton("bg-primary", "rounded-lg", "", "button", false, templ.Attributes{
				"data-copy": DiagnosticInfoString(ctx, PageOf(ctx).Version),
			}, appInfoCopyButtonContent())
			<a href={ templ.URL(P(ctx, "/download_logs")) }>
				@ButtonButton("bg-primary", "rounded-lg", "ml-4", "button", false, nil, appInfoDownloadLogsContent())
			</a>
		</div>
	</div>
}

templ appInfoCopyButtonContent() {
	Copy Diagnostic Info
	<span data-copied hidden>
		@CoreIcon("hero-check", "ml-2 h-4 w-4", nil)
	</span>
}

templ appInfoDownloadLogsContent() {
	Download Logs
}
