package web

templ SettingHTMLShowWithForm(f *Form) {
	<div class="page-header">
		<div class="flex gap-3 items-center">
			<h2 class="page-title">
				Settings
			</h2>
		</div>
	</div>
	<div class="card card-body">
		<div class="max-w-full">
			@SettingHTMLSettingForm(f, "/settings")
		</div>
	</div>
}
