package web

import "github.com/mattbriancon/pinchflat/internal/store"

templ SourceHTMLNew(changeset *store.Changeset, mediaProfiles []*store.MediaProfile) {
	<div class="page-header justify-start">
		if !PageOf(ctx).Onboarding {
			<a href={ templ.URL(P(ctx, "/sources")) }>
				@CoreIcon("hero-arrow-left", "back-link", nil)
			</a>
		}
		<h2 class="page-title">New Source</h2>
	</div>

	<div class="card card-body">
		<div class="max-w-full">
			<div class="flex flex-col gap-6">
				@SourceHTMLSourceForm(SourceFormProps{
					Changeset:     changeset,
					MediaProfiles: mediaProfiles,
					Action:        P(ctx, "/sources"),
					Method:        "post",
				})
			</div>
		</div>
	</div>
}
