package web

import "github.com/mattbriancon/pinchflat/internal/core"

templ SourceHTMLEdit(source *core.Source, changeset *core.Changeset, mediaProfiles []*core.MediaProfile) {
	<div class="page-header justify-start">
		<a href={ templ.URL(P(ctx, "/sources")) }>
			@CoreIcon("hero-arrow-left", "back-link", nil)
		</a>
		<h2 class="page-title">
			Editing "{ source.CustomName }"
		</h2>
	</div>

	<div class="card card-body">
		<div class="max-w-full">
			<div class="flex flex-col gap-6">
				@SourceHTMLSourceForm(SourceFormProps{
					Changeset:     changeset,
					MediaProfiles: mediaProfiles,
					Action:        P(ctx, "/sources/%v", source.ID),
					Method:        "patch",
				})
			</div>
		</div>
	</div>
}
