<div class="page-header">
  <div class="flex gap-3 items-center">
    <h2 class="page-title">
      App Info
    </h2>
  </div>
</div>
<div class="card card-body">
  <div class="max-w-full">
    <.button color="bg-primary" rounding="rounded-lg" x-data="{ copied: false }" x-on:click={~s"
        copyWithCallbacks(
          `#{diagnostic_info_string()}`, 
          () => copied = true, 
          () => copied = false
        )
      "}>
      Copy Diagnostic Info
      <span x-show="copied" x-transition.duration.150ms><.icon name="hero-check" class="ml-2 h-4 w-4" /></span>
    </.button>
    <.link href={~p"/download_logs"}>
      <.button color="bg-primary" rounding="rounded-lg" class="ml-4">
        Download Logs
      </.button>
    </.link>
  </div>
</div>
