<div class="page-header">
  <div class="flex gap-3 items-center">
    <h2 class="page-title">
      Settings
    </h2>
  </div>
</div>
<div class="card card-body">
  <div class="max-w-full">
    <.setting_form conn={@conn} changeset={@changeset} action={~p"/settings"} />
  </div>
</div>
