<div class="page-header justify-start">
  <.link :if={!Settings.get!(:onboarding)} href={~p"/media_profiles"}>
    <.icon name="hero-arrow-left" class="back-link" />
  </.link>
  <h2 class="page-title">New Media Profile</h2>
</div>

<div class="card card-body">
  <div class="max-w-full">
    <div class="flex flex-col gap-6">
      <.media_profile_form changeset={@changeset} action={~p"/media_profiles"} method="post" />
    </div>
  </div>
</div>
