<header class="sticky top-0 z-999 flex h-14 shrink-0 w-full border-b border-strokedark bg-boxdark">
  <div class="flex flex-grow items-center gap-2 px-3 sm:px-4 lg:justify-end lg:px-6">
    <div class="flex shrink-0 items-center gap-1 lg:hidden">
      <button
        class="z-99999 flex h-9 w-9 items-center justify-center rounded-lg hover:bg-meta-4 hover:text-white"
        aria-label="Open menu"
        @click.stop="sidebarVisible = !sidebarVisible"
      >
        <.icon name="hero-bars-3" />
      </button>
      <a href={~p"/"}>
        <img src={~p"/images/icon-2024-03-20.png"} alt="Pinchflat" class="h-8 w-8" />
      </a>
    </div>
    <div class="min-w-0 flex-1 rounded-lg border border-strokedark bg-form-input focus-within:border-primary lg:max-w-md lg:flex-none lg:w-96">
      <div class="relative">
        <span class="absolute left-2.5 top-1/2 -translate-y-1/2 flex text-bodydark2">
          <.icon name="hero-magnifying-glass" class="h-4 w-4" />
        </span>
        <form action={~p"/search"}>
          <input
            type="text"
            name="q"
            value={@params["q"]}
            placeholder="Search all media..."
            class="w-full bg-transparent py-1.5 pl-8 pr-3 text-sm text-white placeholder:text-bodydark2 border-0 focus:ring-0 focus:outline-none"
          />
        </form>
      </div>
    </div>
  </div>
</header>
