<aside
  x-bind:class="sidebarVisible ? 'translate-x-0' : '-translate-x-full'"
  class={[
    "-translate-x-full absolute left-0 top-0 z-9999 flex h-screen w-60 flex-col overflow-y-auto justify-between",
    "border-r border-strokedark bg-boxdark duration-300 ease-linear shadow-lg lg:shadow-none lg:static lg:translate-x-0"
  ]}
  @click.outside="sidebarVisible = false"
>
  <section>
    <div class="flex h-14 items-center justify-between gap-2 px-5">
      <a href={~p"/"} class="flex items-center">
        <img src={~p"/images/logo-2024-03-20.png"} alt="Pinchflat" class="h-8 w-auto" />
      </a>

      <button
        class="block lg:hidden hover:text-white"
        aria-label="Close menu"
        @click.stop="sidebarVisible = !sidebarVisible"
      >
        <.icon name="hero-arrow-left" class="fill-current" />
      </button>
    </div>
    <div class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear">
      <nav class="px-3 py-3">
        <h3 class="mb-2 ml-3 text-xs font-semibold tracking-wide text-bodydark2">
          <span>MENU</span>
        </h3>
        <div class="flex flex-col justify-between">
          <ul class="flex flex-col gap-0.5">
            <.sidebar_item
              icon="hero-home"
              text="Home"
              href={~p"/"}
              current_path={Phoenix.Controller.current_path(@conn, %{})}
            />
            <.sidebar_item
              icon="hero-tv"
              text="Sources"
              href={~p"/sources"}
              current_path={Phoenix.Controller.current_path(@conn, %{})}
            />
            <.sidebar_item
              icon="hero-adjustments-vertical"
              text="Media Profiles"
              href={~p"/media_profiles"}
              current_path={Phoenix.Controller.current_path(@conn, %{})}
            />
            <.sidebar_submenu
              icon="hero-cog-6-tooth"
              text="Config"
              current_path={Phoenix.Controller.current_path(@conn)}
            >
              <:submenu text="Settings" href={~p"/settings"} />
              <:submenu text="App Info" href={~p"/app_info"} />
            </.sidebar_submenu>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <section>
    <nav class="px-3 py-3">
      <ul class="flex flex-col gap-0.5">
        <.sidebar_item
          icon="hero-book-open"
          text="Docs"
          target="_blank"
          href="https://github.com/kieraneglin/pinchflat/wiki"
          icon_class="scale-110"
        />
        <.sidebar_item icon="si-github" text="Github" target="_blank" href="https://github.com/kieraneglin/pinchflat" />
        <.sidebar_item icon="si-discord" text="Discord" target="_blank" href="https://discord.gg/j7T6dCuwU4" />
        <li>
          <span
            class={[
              "font-medium text-bodydark1",
              "group relative flex items-center gap-2.5 rounded-lg px-3 py-1.5 text-sm cursor-pointer",
              "hover:bg-meta-4 hover:text-white"
            ]}
            phx-click={show_modal("donate-modal")}
          >
            <.icon name="hero-currency-dollar" class="h-5 w-5" /> Donate
          </span>
        </li>
        <li>
          <span
            class="group relative flex items-center gap-2.5 px-3 pt-2 text-xs text-bodydark2"
            x-on:click={"markVersionAsSeen('#{Application.spec(:pinchflat)[:vsn]}')"}
          >
            <span>Pinchflat {Application.spec(:pinchflat)[:vsn]}</span>
            <a
              href="https://github.com/kieraneglin/pinchflat/releases"
              target="_blank"
              class="bg-primary text-white px-1.5 rounded-full text-[10px] font-semibold"
              x-cloak
              x-show={"!isVersionSeen('#{Application.spec(:pinchflat)[:vsn]}')"}
            >
              NEW
            </a>
          </span>
          <span class="group relative flex items-center gap-2.5 px-3 pt-1 text-xs text-bodydark2">
            yt-dlp {Settings.get!(:yt_dlp_version)}
          </span>
        </li>
      </ul>
    </nav>
  </section>
</aside>
