<div class="page-header justify-start">
  <.link :if={!Settings.get!(:onboarding)} href={~p"/sources"}>
    <.icon name="hero-arrow-left" class="back-link" />
  </.link>
  <h2 class="page-title">New Source</h2>
</div>

<div class="card card-body">
  <div class="max-w-full">
    <div class="flex flex-col gap-6">
      <.source_form changeset={@changeset} media_profiles={@media_profiles} action={~p"/sources"} method="post" />
    </div>
  </div>
</div>
