<div class="page-header">
  <div class="flex gap-3 items-center min-w-0">
    <.link href={~p"/sources"}>
      <.icon name="hero-arrow-left" class="back-link" />
    </.link>
    <h2 class="page-title">
      {@source.custom_name}
    </h2>
  </div>

  <nav>
    <.link href={~p"/sources/#{@source}/edit"}>
      <.button color="bg-primary" rounding="rounded-lg">
        <.icon name="hero-pencil-square" class="h-4 w-4" /> Edit <span class="hidden sm:inline pl-1">Source</span>
      </.button>
    </.link>
  </nav>
</div>
<div class="card card-body">
  <div class="max-w-full">
    <.tabbed_layout>
      <:tab_append>
        <.actions_dropdown source={@source} conn={@conn} />
      </:tab_append>

      <:tab title="Source" id="source">
        <div class="flex flex-col text-white gap-6">
          <section>
            <h3 class="section-title mt-2 mb-2">Raw Attributes</h3>
            <section>
              <strong>Media Profile:</strong>
              <.subtle_link href={~p"/media_profiles/#{@source.media_profile_id}"}>
                {@source.media_profile.name}
              </.subtle_link>
            </section>

            <.list_items_from_map map={Map.from_struct(@source)} />
          </section>
        </div>
      </:tab>
      <:tab title="Pending" id="pending">
        {live_render(
          @conn,
          PinchflatWeb.Sources.MediaItemTableLive,
          session: %{"source_id" => @source.id, "media_state" => "pending"}
        )}
      </:tab>
      <:tab title="Downloaded" id="downloaded">
        {live_render(
          @conn,
          PinchflatWeb.Sources.MediaItemTableLive,
          session: %{"source_id" => @source.id, "media_state" => "downloaded"}
        )}
      </:tab>
      <:tab title="Other" id="other">
        {live_render(
          @conn,
          PinchflatWeb.Sources.MediaItemTableLive,
          session: %{"source_id" => @source.id, "media_state" => "other"}
        )}
      </:tab>
      <:tab title="Tasks" id="tasks">
        <%= if match?([_|_], @pending_tasks) do %>
          <.table rows={@pending_tasks} table_class="text-black dark:text-white">
            <:col :let={task} label="Worker">
              {task.job.worker}
            </:col>
            <:col :let={task} label="State">
              {task.job.state}
            </:col>
            <:col :let={task} label="Scheduled At">
              <.datetime_in_zone datetime={task.job.scheduled_at} />
            </:col>
          </.table>
        <% else %>
          <p>Nothing Here!</p>
        <% end %>
      </:tab>
    </.tabbed_layout>
  </div>
</div>
